
$sansSerifFont:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$investigatingColor: #d13943;
$identifiedColor: #ee8600;
$monitoringColor: #27ae60;
$resolvedColor: #27ae60;
$reasonColor: #d6068f;
