<% @page_title = "Subscribe" %>

<header class='subscribePage__header <% if site.cover_image %>has-coverImage<% end %>' <% if site.cover_image%>style='background-image:url(<%= site.cover_image.path %>)'<% end%>>
</header>

<section class='subscribePage'>
  <div class='container'>

    <div class='subscribePage__box'>
      <i class="fas fa-envelope subscribePage__icon"></i>
      <h2 class='subscribePage__heading'>Get status updates</h2>

      <%= form_tag '/subscribe/email' do %>
        <div class='inputWithSubmit'>
          <div>
            <input type='email' name='email_address' placeholder='example@hostingme.co.uk' class='subscribePage__input' autofocus />
          </div>
          <div>
            <button class='subscribePage__submit'>Subscribe</button>
          </div>
        </div>

      <% end %>
    </div>
    <div class="subscribePage__blank"></div>

  </div>
</section>
